service: express-passport

provider:
  name: aws
  runtime: nodejs8.10
  stage: production
  region: us-west-2
  environment:
    DATABASE_URL: postgresql://deploy:deletemesoon@typescript-express-jwt-lambda.cwrvwdxpik9v.us-west-2.rds.amazonaws.com/jwt
    NODE_ENV: production

plugins:
  - serverless-webpack
  - serverless-offline

functions:
  http:
    handler: src/lambda.handler
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'